@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Logiciels/Programmes/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Chromia';
  src: url("../fonts/CHROMIA.OTF");
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
}
/* line 37, ../sass/screen.scss */
body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #cccccc;
  font-family: 'Roboto';
  overflow: auto !important;
  /*Emp├¬che la scrollbar de dispara├«tre quand une modal s'ouvre*/
}

/* line 47, ../sass/screen.scss */
header {
  height: 20%;
  z-index: 2;
}

/* line 52, ../sass/screen.scss */
footer {
  z-index: 2;
}

/* line 56, ../sass/screen.scss */
main {
  flex: 1 0 auto;
  font-family: 'Roboto';
}

/* line 61, ../sass/screen.scss */
h1 {
  font-family: 'Chromia';
  color: #ffa800;
  font-size: 3em;
}

/* line 67, ../sass/screen.scss */
h2 {
  font-family: 'Chromia';
  color: #262626;
  font-size: 2em;
}
#collname{
  font-family: 'Chromia';
  color: #262626;
  font-size: 0.80em;
  text-align: center;
  margin: 0;
  padding: 0;
}
#collfamille{
  font-family: 'Chromia';
  color: #262626;
  font-size: 0.80em;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
}

/* line 73, ../sass/screen.scss */
h4 {
  font-family: 'Chromia';
  color: #ffa800;
  margin-bottom: 5px;
}

/* line 79, ../sass/screen.scss */
p {
  font-family: 'Roboto';
}

/* line 83, ../sass/screen.scss */
a {
  font-family: 'Roboto';
}

/* line 87, ../sass/screen.scss */
input[type=text]:focus:not([readonly]) {
  border-bottom: solid 1px #1142AA;
  box-shadow: 0 1px 0 0 #1142AA;
}

/* line 92, ../sass/screen.scss */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #DE6461;
  box-shadow: 0 1px 0 0 #DE6461;
}

/* line 97, ../sass/screen.scss */
.input-field label {
  color: #9e9e9e !important;
}

/* line 101, ../sass/screen.scss */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: solid 1px #1142AA;
  box-shadow: 0 1px 0 0 #1142AA;
}

/* line 106, ../sass/screen.scss */
.container {
  width: 100%;
  max-width: 100%;
}

/* line 111, ../sass/screen.scss */
.firstRow {
  margin-top: 15vh;
}

/* line 115, ../sass/screen.scss */
.container .row {
  margin: 0;
}

/* line 119, ../sass/screen.scss */
.banniere {
  position: fixed;
  width: 100%;
  height: 15%;
  margin-bottom: 5%;
  background-color: black;
  z-index: 5;
}

/* line 128, ../sass/screen.scss */
.searchBar {
  position: relative;
  bottom: -25px;
}

/* line 133, ../sass/screen.scss */
.largeSearchBar {
  margin-top: -60px;
}

/* line 137, ../sass/screen.scss */
.input-field input[type=search] {
  width: calc(100% - 0rem);
  color: #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-left: 10px;
}

/* line 144, ../sass/screen.scss */
.input-field input[type=search]:focus {
  background-color: #cccccc;
}

/* line 148, ../sass/screen.scss */
.siteMap {
  background-color: #262626;
  color: #cccccc;
  z-index: 0;
}

/* line 154, ../sass/screen.scss */
footer.page-footer {
  height: 5%;
  background-color: transparent;
  margin-top: 0;
  padding-top: 0;
}

/* line 161, ../sass/screen.scss */
.copyright {
  background-color: black;
}

/* line 165, ../sass/screen.scss */
.footer-copyright {
  z-index: 6;
}

/* line 169, ../sass/screen.scss */
.secondaryColor {
  color: #ffa800;
}

/* line 173, ../sass/screen.scss */
.nav-pane {
  -webkit-transition: 250ms;
  transition: 250ms;
  position: fixed;
  -webkit-transform: translateX(-350px);
  transform: translateX(-350px);
  z-index: 5;
  top: 15%;
  height: 85vh;
  background: black;
  border-right: 3px solid #ffa800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-shadow: 0px 3px 10px rgba(33, 33, 33, 0.5);
}

@media screen and (max-width: 620px) {
  /* line 199, ../sass/screen.scss */
  .nav-pane {
    width: 298px;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }
}
/* line 205, ../sass/screen.scss */
.nav-pane a p {
  margin: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: color 0.5s ease-in-out;
}

/* line 214, ../sass/screen.scss */
.nav-pane a p:hover,
.nav-pane a p:focus {
  margin: 0;
  text-align: center;
  color: #ffa800;
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* line 223, ../sass/screen.scss */
.nav-pane.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 250ms;
  transition: 250ms;
}

/* line 230, ../sass/screen.scss */
.toggle-nav {
  position: relative;
  cursor: pointer;
  color: white;
  width: 125px;
  font-family: 'Chromia';
}

/* line 237, ../sass/screen.scss */
.toggle-nav.open span.m, .toggle-nav.open span.n, .toggle-nav.open span.u {
  opacity: 1;
}

/* line 240, ../sass/screen.scss */
.toggle-nav span.m, .toggle-nav span.n, .toggle-nav span.u {
  font-size: 2rem;
  opacity: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
  letter-spacing: 2px;
}

/* line 247, ../sass/screen.scss */
.toggle-nav span.e {
  display: inline-block;
  height: 24px;
  width: 28px;
}

/* line 252, ../sass/screen.scss */
.toggle-nav span.e.btn-close span.bar:nth-child(1) {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 9px;
}

/* line 259, ../sass/screen.scss */
.toggle-nav span.e.btn-close span.bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
}

/* line 264, ../sass/screen.scss */
.toggle-nav span.e.btn-close span.bar:nth-child(3) {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 8px;
}

/* line 271, ../sass/screen.scss */
.toggle-nav span.e span.bar {
  -webkit-transition: 250ms;
  transition: 250ms;
  position: relative;
  display: block;
  background: none;
  border-radius: 3px;
  border-bottom: 3px solid #1142AA;
  width: 25px;
  height: 7px;
}

/* line 282, ../sass/screen.scss */
.toggle-nav span.e span.bar:nth-child(2) {
  margin: 1px 0;
}

/* line 286, ../sass/screen.scss */
.toggle-nav:hover span.m, .toggle-nav:hover span.n, .toggle-nav:hover span.u {
  opacity: 1;
  -webkit-transition: 250ms;
  transition: 250ms;
}

/* line 292, ../sass/screen.scss */
.info-panel {
  background-color: black;
  color: white;
  margin: 20px;
}

/* line 298, ../sass/screen.scss */
.info-panel h1 {
  color: #ffa800;
  margin-bottom: 5px;
}

/* line 303, ../sass/screen.scss */
.card-image {
  z-index: 0;
}

/* line 307, ../sass/screen.scss */
.card-reveal {
  background-color: black;
  margin: -20px;
  opacity: 0.9;
  z-index: 0;
}

/* line 314, ../sass/screen.scss */
.card .card-reveal {
  background-color: transparent;
}

/* line 318, ../sass/screen.scss */
.card-title {
  color: #ffa800;
  background-color: black;
  opacity: 0.9;
}

/* line 324, ../sass/screen.scss */
.card-title h1 {
  font-size: 1.2em;
  top: 0;
}

/* line 329, ../sass/screen.scss */
.card-title .iconsZone {
  width: 50%;
  margin-left: 8%;
}

/* line 334, ../sass/screen.scss */
.card-content {
  background-color: black;
  opacity: 1;
  margin-top: -10px;
  margin-right: -100px;
  padding-right: -20px;
}

/* line 342, ../sass/screen.scss */
.card-reveal .card-content p {
  color: white;
}

/* line 346, ../sass/screen.scss */
.bannierImg {
  height: 100px;
}

/* line 350, ../sass/screen.scss */
.titrePage {
  text-shadow: 2px 2px black;
}

/* line 354, ../sass/screen.scss */
.titrePage .input-field input {
  font-family: 'Chromia';
  color: #ffa800;
  font-size: 3em;
  text-shadow: 2px 2px black;
  padding-bottom: 10px;
}

/* line 362, ../sass/screen.scss */
.l4 .l12 h2 {
  margin-top: 20px;
}

/* line 366, ../sass/screen.scss */
.imgBlocks {
  padding-bottom: 30px;
}

/* line 370, ../sass/screen.scss */
.toggle-footer {
  cursor: pointer;
  color: white;
}

/* line 375, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 379, ../sass/screen.scss */
.footer-pane {
  padding-bottom: 30px;
}

/* line 383, ../sass/screen.scss */
.modal {
  margin-top: 5%;
}

/* line 387, ../sass/screen.scss */
.dropdown-content li > span {
  color: #1142AA;
}

/* line 391, ../sass/screen.scss */
.attention {
  color: #DE6461;
}

/* line 395, ../sass/screen.scss */
.modalCare {
  cursor: help;
}

/* line 399, ../sass/screen.scss */
.file-field .btn {
  background-color: #1142AA;
}

/* line 403, ../sass/screen.scss */
.file-field .btn:hover, .file-field .btn:focus {
  background-color: #3670eb;
}

/* line 407, ../sass/screen.scss */
.file-field .btn input {
  cursor: pointer;
}

/* line 411, ../sass/screen.scss */
#newModal div .input-field label {
  cursor: help;
}


/*# sourceMappingURL=screen.css.map */
