<!DOCTYPE html>
<html lang="fr" ng-app="sitePatrimoine">
  <head ng-controller="Collection03PageCtrl as c03PageCtrl">
    <meta charset="utf-8">

    <link rel="import" href="PartialPages/_head.html">
    
    <title>MuséH@me - {{c03PageCtrl.Titre}}</title>
    <link rel="shortcut icon" href="../images/icone.png">
  </head>

  <body>
    <header admin-header-content>
    </header>

    <main ng-controller="Collection03PageCtrl as c03PageCtrl">        
      <div admin-collection03-content>
        </div>
      <div admin-haut-footer-content>
      </div>
    </main>

    <footer footer-content class="page-footer">  
    </footer>
  </body>
</html>