<!DOCTYPE html>
<html lang="fr" ng-app="sitePatrimoine">
  <head>
    <meta charset="utf-8"/>

    <link rel="import" href="PartialPages/_head.html">
    
    <title>MuséH@me - Collections Admin</title>
    <link rel="shortcut icon" href="../images/icone.png"/>
  </head>

  <body>
    <header admin-header-content>
    </header>

    <main>
      <div admin-collections-content>
      </div>
      <div admin-haut-footer-content>
      </div>
    </main>

    <footer footer-content class="page-footer">  
    </footer>
  </body>
</html>