<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" ng-app="sitePatrimoine">
  <head th:include="patrimoine/PartialPages/_head::content">
  </head>

  <body>
  	<header th:include="patrimoine/PartialPages/_admin_header::content">
    </header>
    <div ng-controller="evtsCtrl">
      <script src="../../../static/scripts/mock/mockEvenements.js" th:src="@{/static/scripts/mock/mockEvenements.js}"></script>

    <main>
      <div th:include="patrimoine/PartialPages/Contents/_admin_home::content">
      </div>
      <div th:include="patrimoine/PartialPages/_admin_hautFooter::content">
      </div>
    </main>
      </div>

    <footer th:include="patrimoine/PartialPages/_footer::content">
    </footer>

    <div th:include="patrimoine/PartialPages/_admin_modals_home::content">
    </div>
  </body>
</html>