<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" ng-app="sitePatrimoine">
  <head th:include="patrimoine/PartialPages/_head::content"></head>

  <body>
  	<header class="header-content" th:include="patrimoine/PartialPages/_header::content">
    </header>

    <script th:src="@{/scripts/mock/mockEvenements.js}"></script>
    <main ng-controller="EvenementsListCtrl as evtsCtrl">
      <div class="home-content" th:include="patrimoine/PartialPages/Contents/_home::content">
      </div>
      <div class="haut-footer-content">
      </div>
    </main>

    <footer class="page-footer footer-content">
    </footer>
  </body>
</html>