<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" ng-app="sitePatrimoine">
<head th:include="patrimoine/PartialPages/_head::content"></head>
<body>
<header class="header-content" th:include="patrimoine/PartialPages/_header::content">
</header>
<main>
    <div  th:include="patrimoine/PartialPages/Contents/_import::content">
    </div>

    <div th:include="patrimoine/PartialPages/_hautFooter::content">
    </div>
</main>
<footer th:include="patrimoine/PartialPages/_footer::content">
</footer>
</body>
</html>