<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<!--<meta charset="utf-8"/>-->
<title> MuséH@me - Accueil </title>
<link rel="shortcut icon" href="../../../static/images/icone.png" th:href="@{/images/icone.png}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content=""/>
<meta name="author" content=""/>

<!--Import Google Icon Font-->
<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons"/>

<!-- Compiled and minified CSS-->
<link rel="stylesheet" href="../../../static/vendors/materialize-src/css/materialize.min.css" th:href="@{/vendors/materialize-src/css/materialize.min.css}"/>

<!-- My css-->
<link rel="stylesheet" href="../../../static/stylesheets/ie.css" th:href="@{/stylesheets/ie.css}"/>
<link rel="stylesheet" href="../../../static/stylesheets/print.css" th:href="@{/stylesheets/print.css}"/>
<link rel="stylesheet" href="../../../static/stylesheets/screen.css" th:href="@{/stylesheets/screen.css}"/>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" th:src="@{/vendors/JQuery-2.1.4/jquery-2.1.4.min.js}"></script>

<!-- Compiled and minified JavaScript for materialize-->
<script src="../../../static/vendors/materialize-src/js/bin/materialize.min.js" th:src="@{/vendors/materialize-src/js/bin/materialize.min.js}"></script>

<!-- Compiled and minified JavaScript for Angular-->
<script src="../../../static/vendors/AngularJS-1.5.3/angular.min.js" th:src="@{/vendors/AngularJS-1.5.3/angular.min.js}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>-->

<!-- Scripts Angular-->
<!-- mocks-->
<script src="../../../static/scripts/mock/mockEvenements.js" th:src="@{/scripts/mock/mockEvenements.js}"></script>
<script src="../../../static/scripts/mock/mockCollections.js" th:src="@{/scripts/mock/mockCollections.js}"></script>
<script src="../../../static/scripts/mock/mockCollection01.js" th:src="@{/scripts/mock/mockCollection01.js}"></script>
<script src="../../../static/scripts/mock/mockCollection02.js" th:src="@{/scripts/mock/mockCollection02.js}"></script>
<script src="../../../static/scripts/mock/mockCollection03.js" th:src="@{/scripts/mock/mockCollection03.js}"></script>
<script src="../../../static/scripts/mock/mockCollection04.js" th:src="@{/scripts/mock/mockCollection04.js}"></script>
<script src="../../../static/scripts/mock/mockCollection05.js" th:src="@{/scripts/mock/mockCollection05.js}"></script>
<script src="../../../static/scripts/mock/mockCollection06.js" th:src="@{/scripts/mock/mockCollection06.js}"></script>
<script src="../../../static/scripts/mock/mockCollection07.js" th:src="@{/scripts/mock/mockCollection07.js}"></script>
<script src="../../../static/scripts/mock/mockCollection08.js" th:src="@{/scripts/mock/mockCollection08.js}"></script>
<script src="../../../static/scripts/mock/mockCollection09.js" th:src="@{/scripts/mock/mockCollection09.js}"></script>
<script src="../../../static/scripts/mock/mockCollection10.js" th:src="@{/scripts/mock/mockCollection10.js}"></script>
<!-- fin mocks-->
<script src="../../../static/scripts/mainForAngular.js" th:src="@{/scripts/mainForAngular.js}"></script>
<script src="../../../static/scripts/pagesPartielles.js" th:src="@{/scripts/pagesPartielles.js}"></script>
<script src="../../../static/scripts/hautFooter.js" th:src="@{/scripts/hautFooter.js}"></script>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</html>
