<div th:fragment="content">
    <hr />
    <div class="row firstRow">
        <div class="col l6 offset-l3 m6 offset-m3 s12">
            <div class="valign-wrapper">
                <h2 class="center-align">INTERFACE DE CONNEXION</h2>
            </div>
        </div>
    </div>
    <hr />
    <form method="post" th:action="@{/admin}" th:object="${administrator}">
        <div class="row">
            <div>
                <div class="col l6 offset-l3 m6 offset-m3 s12">
                    <h2>Email: </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 offset-l3 m6 offset-m3 s12">
                <div class="valign-wrapper">
                    <div class="input-field"  style="width: 100%">
                        <input th:field="*{email}" type="email" class="validate">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="col l6 offset-l3 m6 offset-m3 s12">
                    <h2>Mot de passe: </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 offset-l3 m6 offset-m3 s12">
                <div class="valign-wrapper">
                    <div class="input-field"  style="width: 100%">
                        <input th:field="*{password}" type="password" class="validate">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6 offset-l3 m3 offset-m6 s12">
                <div class="valign-wrapper">
                    <input type="submit" name="envoyer" value="CONNEXION"/>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>