   <div th:fragment="content">
     <div class="container">
       <div class="row banniere">
         <div class="row">
           <div class="col l3 m3 s6">
             <a href="Home.html"><img class="responsive-img" th:src="@{/images/banniere.png}" alt="Accueil" title="Accueil"/></a>
           </div>
           <div class="col l2 m2 s4 offset-l7 offset-m7 offset-s2">
             <div class="col l10 m10 s12 offset-l2 offset-m2">
               <a href="http://lesfacultes.univ-catholille.fr/" target="blank"><img class="responsive-img" th:src="@{/images/logoH_FACULTES_blanc.png}" alt="ICL" title="ICL"/></a>
             </div>
           </div>
         </div>

         <div class="row">
           <div class="col l1 m1 s4">
             <div class="toggle-nav">
               <span class="m">M</span><span class="e"><span class="bar"></span><span class="bar"></span><span class="bar"></span></span><span class="n">N</span><span class="u">U</span>
             </div>
           </div>

           <div class="col l3 offset-l8 hide-on-med-and-down">
             <form class="searchBar largeSearchBar">
               <div class="input-field">
                 <input id="search" type="search" class="truncate" required="required">
                 <label for="search"><i class="material-icons">search</i></label>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="nav-pane slide-out col l2 m3 s7">
         <div class="col l11 m12 s12 hide-on-large-only">
           <form class="searchBar">
             <div class="input-field">
               <input id="search" type="search" class="truncate" required="required">
               <label for="search"><i class="material-icons">search</i></label>
             </div>
           </form>
         </div>
         <a href="Collections.html"><p>Collections</p></a>
         <a href="#!"><p>Histoire</p></a>
         <a href="#!"><p>Expositions</p></a>
         <a href="#!"><p>Evénements</p></a>
         <a href="#!"><p>Ateliers</p></a>
         <a href="#!"><p>Partenaires</p></a>
         <br>
       </div>
     </div>

     <!-- Script menu -->
     <script th:src="@{/scripts/menu.js}"></script>
   </div>