<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" ng-app="sitePatrimoine">
<head th:include="patrimoine/PartialPages/_head::content"></head>
  <body>
  	<header class="header-content" th:include="patrimoine/PartialPages/_header::content">
    </header>
    <div ng-controller="evtsCtrl">
    <script src="../../../static/scripts/mock/mockEvenements.js" th:src="@{/scripts/mock/mockEvenements.js}"></script>
    <main>

     <div  th:include="patrimoine/PartialPages/Contents/_home::content">
      </div>

      <div th:include="patrimoine/PartialPages/_hautFooter::content">
      </div>
    </main>
        </div>

    <footer th:include="patrimoine/PartialPages/_footer::content">
    </footer>
  </body>
</html>